<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="COMPort" value="COM1"/>
        <add key="BaudRate" value="4800"/>
        <add key="PollingInterval" value="60"/>
        <add key="LogToTextBox" value="true"/>
        <add key="LogToLogFile" value="false"/>
        <add key="LogFileLocation" value="\My Documents\GPSLogs\"/>
        <add key="TrackUrl" value="http://track.mendhak.com/addgpx.aspx?lat={0}&amp;long={1}&amp;desc={2}"/>
        <add key="LogFormat" value="GPX"/>
    </appSettings>
</configuration>