<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="COMPort" value="COM1"/>
    <add key="BaudRate" value="4800"/>
    <add key="PollingInterval" value="60"/>
    <add key="LogToTextBox" value="true"/>
    <add key="LogToLogFile" value="false"/>
    <add key="LogFileLocation" value="GPSTracka.log"/>
  </appSettings>
</configuration>